<%- include('header') %>

    <div class="container">
        
        <div class="jumbotron">
            <div class="container">
                <h1>Chào bạn đến với trang admin</h1>
                <p>Contents ...</p>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
                <!-- <img src="https://i.pinimg.com/originals/b8/06/f2/b806f29cab6f64ff368711295165019e.png" alt="" width="100%"> -->
            </div>
        </div>
        
    </div>
    
<%- include('footer') %>