<%- include('header') %>
    <div class="container">
        <h2>Danh sách sản phẩm</h2>
        <a href="/create-product" class="btn btn-sm btn-primary">Thêm mới danh mục</a>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Sale Price</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Description</th>

                    <th></th>
                </tr>
            </thead>
           
        </table>

    </div>

    <%- include('footer') %>